---
import '~/assets/styles/tailwind.css';

import { Icon } from 'astro-icon/components';
import { ViewTransitions } from 'astro:transitions';
import Section from '../components/Section.astro';

interface Props {
  lang: string;
}
const { lang } = Astro.props;
---

<!doctype html>
<html lang={lang} dir='auto'>
  <head>
    <meta charset='UTF-8' />
    <ViewTransitions fallback='swap' />
  </head>

  <body
    class='antialiased text-default bg-b1 flex flex-col items-center justify-center'
  >
    <Section inner='items-start py-4' outer='bg-b2 sticky top-0 shadow-xl'>
      <div class='flex items-center gap-2'>
        <Icon name='logo' class='w-12 h-12' />
        <h1 class='text-4xl font-bold text-p1'>waha</h1>
      </div>
    </Section>
    <slot />
  </body>
</html>
